setuptools
nbsphinx
jupyter-sphinx
sphinxcontrib-bibtex
sphinx_rtd_theme
pandoc
scipy
numpy
sphinx
pandas
jinja2<3.1.0  # temporary fix for jinja2/nbconvert bug
numpydoc
nbconvert
jupyter
matplotlib
pytest
refnx>=0.1.27
myst_parser
