name: Test

on:
  - push
  - pull_request

jobs:
  test_linux:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 3
      matrix:
        python-version: [3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Build wheel
      run: |
        python -m pip install build
        python -m build .

    - name: Test with pytest
      run: |
        pushd dist
        python -m pip install pytest black numpy scipy
        python -m pip install git+https://github.com/refnx/refnx.git
        python -m pip install --only-binary=refellips --no-index --find-links=. refellips
        pytest --pyargs refellips
        popd

    - uses: actions/upload-artifact@v1
      with:
        name: refellips-wheel
        path: dist/

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Lint with black
      run: |
        python -m pip install black
        black --check -l80 refellips


  build_doc:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: setup apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install pandoc

    - name: Build documentation
      run: |
        python -m pip install --upgrade pip
        python -m pip install .
        python -m pip install wheel
        python -m pip install git+https://github.com/refnx/refnx.git
        cd docs
        python -m pip install -r requirements.txt
        make html
